<h1 class="color">{{title}}</h1>
<h1>{{count}}</h1>
<h1 *ngIf="count > 0">I am visible if I am greater than 0</h1>
<button (click)="decreaseCount()">Decrement</button>
<button (click)="increaseCount()">Increment</button>
<li *ngFor="let number of listOfNumbers">{{number}}</li>
<li *ngFor="let number of listOfCharacters">{{number}}</li>
<input type="text" [(ngModel)]="title">

<div class=" calculator">
    <b><h1 class="color">CALCULATOR</h1></b>
    <h2>INPUTS</h2>
    <input type="number" [(ngModel)]="A">
    <input type="number" [(ngModel)]="B">
    <!-- <input type="number" [(ngModel)]="arr[1]">
    <input type="number" [(ngModel)]="arr[2]">
    <input type="number" [(ngModel)]="arr[3]">
    <input type="number" [(ngModel)]="arr[4]">
    <input type="number" [(ngModel)]="arr[5]">
    <input type="number" [(ngModel)]="arr[6]">
    <input type="number" [(ngModel)]="arr[7]">
    <input type="number" [(ngModel)]="arr[8]">
    <input type="number" [(ngModel)]="arr[9]"> -->
    
    <br><br>
    <button (click)="add()">+</button>
    <button (click)="subs()">-</button>
    <button (click)="mult()">x</button>
    <button (click)="divi()">/</button>
    <h2>RESULT</h2>
    <span>{{C}}</span>
</div>