.color{
    color : rgb(54, 157, 197);
}
h1{
    background: burlywood;
    border-radius : 20px;
    padding: 10px;
    padding-left : 20px;

}
button{
    background: rgb(54, 157, 197);
    border-radius : 20px;
    padding: 10px;
    padding-left : 20px;

}
span{
    background: rgb(54, 157, 197);
    border-radius : 20px;
    padding: 10px;
    padding-left : 20px;

}
input{
    background: burlywood;
    border-radius : 20px;
    padding: 10px;
    padding-left : 20px;

}
.calculator{
    text-align: center;
    background: grey;
}